<nav class="navbar navbar-light bg-faded " style="background-color: #e3f2fd;">
  <form class="form-inline">

    <% params[:action] == "edit" ? @title = "Change restaurant" : @title = "Register an new Restaurant" %>

    <h1> Change restaurant </h1>

    <%= link_to restaurants_path do %> back to list <% end %>

  </form>
</nav>

<div class = "container ">

<%= simple_form_for @restaurant  do |f| %>
            <p>
                        <%= f.label :name %><br>
                        <%= f.text_field :name %>
            </p>
            <p>
                        <%= f.label :address %><br>
                        <%= f.text_area :address %>
            </p>
            <p>
                        <%= f.label :phone_number %><br>
                        <%= f.text_area :phone_number %>
            </p>
            <p>
<%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"], text: "select a value" %>
            </p>
            <p>
                <% params[:action] == "edit" ? @button = "Change" : @button = "Create" %>
                        <%= f.submit @button ,class: 'btn btn-primary' %>
            </p>
<% end %>

</div>
